* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
}

.content {
  flex: 1; /* Занимает оставшееся пространство */
  padding: 2rem;
  overflow-y: auto; /* Добавляем скролл, если контент не помещается */
  height: 100%;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column; /* Переключаем на вертикальную ориентацию */
  }

  .sidebar {
    width: 100%; /* Боковая панель занимает всю ширину */
    height: auto; /* Автоматическая высота */
  }

  .content {
    padding: 1rem; /* Уменьшаем отступы */
  }
}
